//COLORS

$COLOR_PRIMARY: #55c57a;
$COLOR_PRIMARY_LIGHT: #7ed56f;
$COLOR_PRIMARY_DARK: #28b485;  

$COLOR_SECONDARY_LIGHT: #ffb900;
$COLOR_SECONDARY_DARK: #ff7730;

$COLOR_TERTIARY_LIGHT: #2998ff;
$COLOR_TERTIARY_DARK: #5643fa;

$COLOR_GREY_LIGHT_1: #f7f7f7;
$COLOR_GREY_LIGHT_2: #eee;
$COLOR_GREY_DARK: #777;
$COLOR_WHITE: #fff;
$COLOR_BLACK: #000; 


//FONT

$DEFAULT_FONT_SIZE: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;